name: Tag Version

on:
  push:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    name: Tag New Version
    if: "!contains(github.event.head_commit.message, '[release]')"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Set Node.js 19.x
